body {
    font-size: 15pt;
    padding: 5px;
    margin: 0;
    padding-bottom: 1000px;
}

.card {
  border: 1px solid red;
  border-radius: 5px;
  background: lightgray;
  text-align: center;
  margin: 0 5px 10px 5px;
  padding-bottom: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.title > h3 {
  margin-right: 10px;
}

strong {
  margin-left: auto;
  margin-right: 10px;
}